[user]
	name = <NAME>
	email = <EMAIL>
[push]
  # will push only current branch and create the branch in the remote repo if necessary
	default = current
[core]
  editor = vim
[alias]
  st      =   status
  s       =   status --short
  ss      =   status --short
  ci      =   commit
  cim     =   commit -m
  br      =   branch
  co      =   checkout
  df      =   diff
  lg      =   log --oneline --decorate --all --graph
  l       =   "!source ~/.githelpers && pretty_git_log"
  la      =   "!source ~/.githelpers && pretty_git_log_a"
  me      =   "!source ~/.githelpers && pretty_git_log --author=Mateusz"
  h       =   "!source ~/.githelpers && show_git_head"
  lp      =   log --pretty="format:'%h %ad | %an - %s%d'" --date=short
  lgs     =   log --stat
  ls      =   ls-files
  pr      =   pull --rebase
  aa      =   add --all
  amend   =   commit --amend
  unstage =   reset HEAD --
