source ~/.vimrc
set surround

" Open
map <space>oc :action GotoClass<cr>
map <space>of :action GotoFile<cr>
" Run
map <space>x :action Run<cr>


map <space>d :action QuickJavaDoc<cr>
map <space>f :action FindInPath<cr>
map <space>t :action RunClass<cr>
map <space>v :action SplitVertically<cr>

map <space>u :action FindUsages<cr>

map <space>rr :action RenameElement<cr>
