"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "project-find-navigation"
    ]
    projectHome: "/Users/mwieloch/code"
  editor:
    fontFamily: "Consolas"
    fontSize: 12
    invisibles: {}
  "exception-reporting":
    userId: "cca1ff20-980b-9cea-9260-506bf83ffb31"
  "toggle-packages":
    togglePackages: [
      "vim-mode"
    ]
  welcome:
    showOnStartup: false
